/* Tweets article styling in tweets-container section */

/* section - border outside*/
/* .tweets-containter{
  border: 3px solid #3c3b37;
} */
/* .tweets-container:hover {
  box-shadow: 6px 6px 0 -1px #3156ba6b;
} */

/* inside contents*/
.tweet {
  border: 3px solid #3c3b37;
  margin-bottom: 1em;
  padding: 0.5em 0.5em 0 0.5em;
}
.tweet:hover {
  box-shadow: 6px 6px 0 -1px #3c3b35a1;
}

/* tweet header elements */
.tweet > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tweet-ava-name {
  color: black;
  display: flex;
  flex-direction: row;
}
.tweet-ava-name .name {
  margin-left: 0.5em;
}
.tweet-ava-name .avatar {
  height: 70%;
  width: auto;
}
.handle {
  align-self: flex-end;
  font-weight: 600;
}

/* tweet content */
.tweet .tweet-content .text{
  margin-left: 4%;
  font-size: 0.9em;
  font-weight: bold;
}

/* tweet footer elements */
.tweet > footer {
  border-top: 3px solid #3c3b37;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet .create-at {
  display: flex;
  margin-left: 3%;
  /* margin: -2% 0 0% 4%; */
  font-size: 70%;
}

.tweet .icons {
  display: flex;
  font-size: 80%;
  margin-right: 3%;
}
.icon {
  padding: 0.2em;
  font-size: 90%;
  color: #3c3b37
}
.icon:hover {
  color: #ffcc56;
  font-size:120%;   /* make icon popup */
}